<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>es.isst.ca.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateAlarm</servlet-name>
		<servlet-class>es.isst.ca.CreateAlarmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAlarm</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AtenderAlarma</servlet-name>
		<servlet-class>es.isst.ca.AtenderAlarmaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtenderAlarma</servlet-name>
		<url-pattern>/atender</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveAlarma</servlet-name>
		<servlet-class>es.isst.ca.RemoveAlarmaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveAlarma</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveUsuario</servlet-name>
		<servlet-class>es.isst.ca.RemoveUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveUsuario</servlet-name>
		<url-pattern>/borrar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistroUsuario</servlet-name>
		<servlet-class>es.isst.ca.RegistroUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistroUsuario</servlet-name>
		<url-pattern>/registrar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateUsuario</servlet-name>
		<servlet-class>es.isst.ca.CreateUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUsuario</servlet-name>
		<url-pattern>/registrarUsuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListadoUsuarios</servlet-name>
		<servlet-class>es.isst.ca.ListadoUsuariosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListadoUsuarios</servlet-name>
		<url-pattern>/usuarios</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InfoUsuario</servlet-name>
		<servlet-class>es.isst.ca.InfoUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoUsuario</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>main</welcome-file>
	</welcome-file-list>
</web-app>
