<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>es.upm.dit.isst.todo.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateTodo</servlet-name>
		<servlet-class>es.upm.dit.isst.todo.CreateTodoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveTodo</servlet-name>
		<servlet-class>es.upm.dit.isst.todo.RemoveTodoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Email</servlet-name>
		<servlet-class>es.upm.dit.isst.todo.EmailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reminder</servlet-name>
		<servlet-class>es.upm.dit.isst.todo.ReminderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Expiration</servlet-name>
		<servlet-class>es.upm.dit.isst.todo.ExpirationServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Expiration</servlet-name>
		<url-pattern>/expiration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reminder</servlet-name>
		<url-pattern>/reminder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Email</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveTodo</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTodo</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/reminder</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/expiration</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>


	<welcome-file-list>
		<welcome-file>main</welcome-file>
	</welcome-file-list>
</web-app>
